@import "variables";
@import "functions";

* {
  margin: 0;
  padding: 0;
  //   box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: $light-color;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.container {
  max-width: $website-width;
  margin: auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #333;
    background-color: $main-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $main-color;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

//Padding

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

//Margin

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

//Section title
.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

//Bottom line

.bottom-line {
  height: 0.125rem;
  width: 3rem;
  background: $main-color;
  display: block;
  margin: 0 auto 1rem auto;
}

//Background Colors

.bg {
  &-main {
    background: $main-color;
    color: set-text-colot($main-color);
  }
  &-light {
    background: $light-color;
    color: set-text-colot($light-color);
  }
  &-dark {
    background: $dark-color;
    color: set-text-colot($dark-color);
  }
  &-medium {
    background: $medium-color;
    color: set-text-colot($medium-color);
  }
}
